* {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    height: 100%;
}

header {
    background-image: url(img/header-bg.png);
    background-size: cover;
    height: 100%;    
    color: #FFFFFF;
}

nav {
    width: 100%;
    height: 200px;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;     /* or 150% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border: none;
    width: 133px;
    height: 100px;
    text-decoration: none;
    cursor: pointer;
}

.vector {
    width: 150px;
    height: 150px;
    padding-top: 25px;
}

.main-Content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 250px;
    
}

.rotate-Text p {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 12px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.main p {
    height: 18.39px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.main h1 {
    font-family: 'Happy Monkey', cursive;
    font-size: 96px;
    line-height: 0px;
    text-transform: uppercase;
}

.icon i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 50px;
    height: 50px;
}